@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.movie-page {
  @apply border-2 p-5;
}
.card {
  @apply border-2 border-slate-800 rounded-lg py-5 px-10 sm:w-80 md:w-auto sm:mx-auto  h-96 flex items-center transition-all  ease-in-out justify-center;
}

.card-info img {
  @apply h-56 w-56;
}
.card:hover {
  @apply bg-slate-600 text-slate-100;
}
.card-info:hover img {
  @apply transform scale-110;
}
.card-info:hover h2 {
  @apply transform -translate-y-5 animate-pulse;
}
.search-section {
  @apply border-2 flex flex-col items-center justify-center py-2;
}
